<h1>TODO APP</h1>
<form>
        <div class="description">
                <h6>DESCRIPTION</h6>
                <input type="text" placeholder="what do you want">
        </div>
        <div class="cat-date">
                <div class="category">
                        <h6>CATEGORY</h6>
                        <select>
                                <option value="Education">Education</option>
                                <option value="Home">Home</option>
                                <option value="School">School</option>
                                <option value="Office">Office</option>
                              </select>
                 </div>
                 <div class="date">
                        <h6>DUE DATE</h6>
                        <input type="date">
                 </div>
        </div>
</form>
       <div class="buttons">
        <button><h5>ADD TASK</h5>
        </button>
        <button><h5>DELETE TASK</h5>
        </button>
       </div>

