body{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    position: relative;
    height: max-content;
    width:500px;
    background-color: white;
    text-align: left;
}
h1{
    text-align: center;
    font-weight: 500;
}
form{
    border-bottom: 1px solid lightgrey;
}
form div h6{
    margin-top: 2px;
}
.category{
    border-top: 0;
    width: 50%;
    display: inline-block;
}
.date{
    width:40%;
    display: inline-block;
    border-top: 0;
    border-left: 1px solid lightgrey;
}
.category select{
    margin-top: -50px;
    margin-bottom: 40px;
    border:none;
    width:50%;
}
 input{
     width: 400px;
    margin-top: -50px;
    margin-bottom: 40px;
    border:none;
}
.buttons button:nth-child(1){
    background-color: hotpink;
}

.buttons button:nth-child(2){
    background-color: lawngreen;
}
button{
    color: white;
    border: none;
    font-weight: 200;
}
.buttons{
    border: 0px;
    text-align: center;
}
form div{
    margin:0px;
    border-top: 1px solid lightgrey;
}
.description{
    font-weight: 300;
}